<?xml version="1.0" encoding="<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmls:context="https://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
https://www.springframework.org/schema/context
https://www.springframework.org/schema/context/spring-context.xsd"">


     <!--This is our bean for metaData-->
	<bean class="com.springcore.corespring" name="StudentOne">
	
	<property name="id">
		<value>22344</value>
	</property>
	
	<property name="name">
		<value>Anjeel chaudhary</value>
	</property>
	
	<property name="address">
		<value>Kathmadu,Nepal</value>
	</property>
	
	</bean>
	
</beans>